@import "../../../assets/scss/mixin/mixin_dir.scss";

.dropdown-main {
  position: relative;
  width: 200px;
  // height: 30px;
  // border-radius: 3px;
  background-color: lightcoral;

  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: brown;
    font-weight: bold;
    font-size: 16px;
  }

  &:hover .dropdown-option {
    display: flex;
    opacity: 1;
  }

  .dropdown-option {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    .myoption {
      // border-radius: 3px;
      position: relative;
      width: 100%;
      background-color: burlywood;
      color: black;
      font-size: 16px;
      padding: 2px 0px 2px 5px;
      border-bottom: 1px solid black;
      &:hover {
        background-color: lightgoldenrodyellow;
      }
    }
  }
}

.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: minmax(200px, auto);
  grid-auto-flow: row;
  grid-auto-rows: minmax(200px, auto);
  .d1 {
    background-color: lightblue;
    font-size: 1.1em;
  }
  .d2 {
    background-color: lightseagreen;
    font-size: 2em;
  }
  .d3 {
    background-color: seagreen;
    font-size: 1.5em;
  }
}
