<!-- <div class="grid-cont">
  <div class="d1">
    <form [formGroup]="myform" (ngSubmit)="saveForm()">
      <mat-form-field>
        <input
          matInput
          placeholder="label"
          (change)="onNameChange($event)"
          formControlName="userName"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="label" formControlName="age" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="label" formControlName="salary" />
      </mat-form-field>
      <button type="submit" mat-raised-button>Save</button>
    </form>
  </div>
  <div class="d2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ea quam
    temporibus, quisquam repellat voluptas dolores eaque ducimus nulla mollitia
    modi velit necessitatibus magnam nobis harum voluptatibus. Dicta, earum eum?
  </div>
  <span
    ><mat-icon [@rotateIcon]="iconState" (click)="rotateIcon()"
      >arrow_drop_up</mat-icon
    ></span
  >
</div> -->
<app-flexcontainer #flexContainer [bgColor]="'red'" [flexGap]="flexGap">
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>

</app-flexcontainer>
<app-flexcontainer [bgColor]="'green'"  [flexGap]="flexGap">
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="calc(25% - 20px)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          laboriosam recusandae molestias, asperiores maiores tenetur quod!
          Iusto nam modi quisquam nostrum facere, perspiciatis saepe fuga in
          dolorum, accusantium doloremque! A.
        </div></mat-card-content
      >
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>

</app-flexcontainer>
