// .card-signin {
//   border: 0;
//   border-radius: 1rem;
//   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
// }

// .card-signin .card-title {
//   margin-bottom: 2rem;
//   font-weight: 300;
//   font-size: 1.5rem;
// }

// .card-signin .card-body {
//   padding: 2rem;
// }

// .form-signin {
//   width: 100%;
// }

// .form-signin .btn {
//   font-size: 80%;
//   border-radius: 5rem;
//   letter-spacing: .1rem;
//   font-weight: bold;
//   padding: 1rem;
//   transition: all 0.2s;
// }

// .form-label-group {
//   position: relative;
//   margin-bottom: 1rem;
// }

// .form-label-group input {
//   height: auto;
//   border-radius: 2rem;
// }

// .form-label-group>input,
// .form-label-group>label {
//   padding: var(--input-padding-y) var(--input-padding-x);
// }

// .form-label-group>label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 100%;
//   margin-bottom: 0;
//   /* Override default `<label>` margin */
//   line-height: 1.5;
//   color: #495057;
//   border: 1px solid transparent;
//   border-radius: .25rem;
//   transition: all .1s ease-in-out;
// }

// .form-label-group input::-webkit-input-placeholder {
//   color: transparent;
// }

// .form-label-group input:-ms-input-placeholder {
//   color: transparent;
// }

// .form-label-group input::-ms-input-placeholder {
//   color: transparent;
// }

// .form-label-group input::-moz-placeholder {
//   color: transparent;
// }

// .form-label-group input::placeholder {
//   color: transparent;
// }

// .form-label-group input:not(:placeholder-shown) {
//   padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
//   padding-bottom: calc(var(--input-padding-y) / 3);
// }

// .form-label-group input:not(:placeholder-shown)~label {
//   padding-top: calc(var(--input-padding-y) / 3);
//   padding-bottom: calc(var(--input-padding-y) / 3);
//   font-size: 12px;
//   color: #777;
// }

// .btn-google {
//   color: white;
//   background-color: #ea4335;
// }

// .btn-facebook {
//   color: white;
//   background-color: #3b5998;
// }

// mat-card-header {
//   background-color: lightsalmon;
// }

// ul {
//   list-style-type: none;
//   background-color: lightseagreen;

//   li {
//     color: red;
//     padding: 5px;

//     &:hover {
//       background-color: lightsteelblue;
//     }
//   }
// }

// .mat-btn-custom {
//   width: 80px;
//   background-color: lightcoral;
//   border-radius: 8px;
//   text-align: center;
// }

// .mat-card-style {
//   width: 40%;
// }

/* work login card*/


  .main-login-cont {
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid black;
    border-radius: 5px;
  
    .main-header {
      width: 90%;
      height: 50px; // (main = 500) - (box = 50 +  margin = 10 == 60) = 440
      text-align: center;
      // background-color: lightseagreen;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // border-radius: 10px;
    }
  
    .main-body {
      width: 90%;
      height: 140px; // (all = 440) - (mainbody:140 + margin:60) = 240
      margin-top: 60px;
      // margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // background-color: lightseagreen;
    }
  
    .action-footer {
      width: 90%;
      height: 60px; // (all: 240) - (actionfooter:60 + margin:40) = 140
      margin-top: 40px;
      // margin-bottom: 10px;
      // background-color: lightseagreen;
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  
    .icon-footer {
      width: 90%;
      // height: 50px; // (all:150) - (iconfooter:100) = 50
      // background-color: lightseagreen;
      // border-radius: 10px;
      margin-top: 60px;
      // margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  
    .last-footer {
      width: 90%;
      height: 10px;
      border-radius: 10px;
      background-color: lightseagreen;
      margin-top: auto;
    }
    ///
    .input-item1 {
      width: 100px;
      background-color: lightseagreen;
      color: white;
    }
  
    /////////////
    .btn-cont {
      width: 80px;
      height: 35px;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      background-color: darkred;
      color: white;
      font-weight: bold;
      box-shadow: 0px 1px 2px 0px black;
  
      &:hover {
        box-shadow: 0px 0px 1px 0px black;
      }
    }
  }
  