/** colors variables */
$light-green: greenyellow;
$darkBlue: darkblue;
$seaGreen: seagreen;

/** font variable */
$font10: 10px;
$font12: 12px;

// screen default sizes
$screenXl: 1920px;
$screenLg: 1200px;
$screenMd: 768px;
$screenSm: 400px;
$screenXs: 320px;
