.header-section-page-wrapper {
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  background-color: lightslategray;
  padding: 5px;
  margin: 5px 0px;
  // border-radius: 5px;
  // border: 1px solid black;
}
