@import "../variables.scss";
@import "../mixin/mixin_dir";

.text-white {
  color: $whiteColor;
}

.text-black {
  color: $blackColor;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-gold {
  color: $goldColor;
}

.text-orange {
  color: $orangeColor;
}

.text-sky {
  color: $skyColor;
}

.text-brown {
  color: $brownColor;
}

/// << font weight >> ///
.f-w-100 {
  font-weight: 100;
}
.f-w-200 {
  font-weight: 200;
}
.f-w-300 {
  font-weight: 300;
}
.f-w-400 {
  font-weight: 400;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-600 {
  font-weight: 600;
}
.f-w-700 {
  font-weight: 700;
}
.f-w-800 {
  font-weight: 800;
}
.f-w-900 {
  font-weight: 900;
}

.f-w-bold {
  font-weight: bold;
}

.f-w-normal {
  font-weight: normal;
}

// << font size  >> //
.font-size-10 {
  @include font-size(10px);
}
.font-size-12 {
  @include font-size(12px);
}
.font-size-14 {
  @include font-size(14px);
}
.font-size-16 {
  @include font-size(16px);
}
.font-size-18 {
  @include font-size(18px);
}
.font-size-20 {
  @include font-size(20px);
}

// << text-transform >> //

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// << text align >> //

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//** display font sizes for big title & important heading */
.display-1 {
  font-size: 6em;
  font-weight: 500;
}
.display-2 {
  font-size: 5.5em;
  font-weight: 500;
}
.display-3 {
  font-size: 4.5em;
  font-weight: 500;
}
.display-4 {
  font-size: 3.5em;
  font-weight: 500;
}
.display-5 {
  font-size: 2.5em;
  font-weight: 500;
}

//
