.inv-btn-rounded {
  padding: 10px 10px;
  border: none;
  background-color: white;
  color: green;
  border-radius: 50px;
  min-width: 150px;
  outline: none;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: green;
  }
}

.inv-btn-square {
  box-sizing: border-box;
  padding: 10px 10px;
  border: none;
  background-color: white;
  color: green;
  min-width: 150px;
  outline: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  transition: border-bottom 0.5s ease-in-out;

  &:hover {
    box-sizing: border-box;
    border-bottom: 2px solid green;
  }
}
