.tab-child-container {
  width: 100%;
  height: auto;
  padding: 5px;
}

.icon-alert-triangle-outline {
  color: blueviolet;
  font-size: 1rem;
}


.activeLink{
  background-color: greenyellow;
  color: darkblue;
}