<div class="mat-container-wrapper">
  <h2 class="mat-h2" id="h2Item">Nested Add Child</h2>
  <p class="mat-subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque
    illo magnam omnis perferendis ab! Neque commodi iusto possimus a quod
    deleniti. Dolores, consectetur voluptates aliquam veritatis quidem minima
    quam. Earum magni, temporibus dolores, quia nam tenetur dolor nihil
    obcaecati aliquid reprehenderit id officiis! Recusandae mollitia ad quo!
    Libero perferendis nihil architecto sapiente quas odio dolorem itaque saepe
    ipsum labore! Repellendus voluptatem maiores quidem aliquam ex repudiandae
    ad velit eaque incidunt maxime, quia dolore rem nobis? Quos rem quam iste
    dolor a dicta non laborum et, explicabo accusantium harum ex! Voluptatem
    dolores, nostrum sit nihil enim repellendus odio quos aperiam architecto
    optio nemo reiciendis necessitatibus adipisci itaque deleniti autem
    excepturi quod, sed dolorum quidem. Totam voluptate placeat debitis autem
    ab! Explicabo soluta veritatis ipsam architecto rerum quaerat ullam aliquid,
    reiciendis perspiciatis unde cupiditate, hic expedita, incidunt accusantium
    consequatur consequuntur. Velit provident autem illum fugit cumque ad
    accusamus impedit commodi laudantium. Provident in quis, id ex aspernatur
    nisi hic cumque fugiat, pariatur dolor ea consectetur nemo, deleniti alias
    veritatis impedit quasi et numquam aperiam nobis vero? Optio totam dolor ex
    exercitationem. Iusto soluta alias praesentium sit similique fugit et
    laboriosam, provident eveniet repellendus accusamus repellat beatae debitis
    modi minima illum earum ipsa iste. Corrupti ad libero rerum obcaecati, sit
    voluptatibus similique? Harum, ducimus assumenda odit non odio nisi.
    Temporibus, animi quasi laboriosam blanditiis quod voluptatem fuga officiis.
    Itaque, esse. Debitis quae tempore cumque consectetur nulla libero ipsum.
    Magni libero unde ad. Nobis suscipit eveniet maxime praesentium ipsam
    dignissimos commodi quod similique. Dolor laudantium sapiente sunt odit
    quibusdam ratione, illo accusantium, beatae mollitia ipsam tempora! Ipsam
    magnam et facere earum corrupti saepe?
  </p>
  <mat-card>
    <mat-card-header>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo mollitia
        dicta iste illo earum atque soluta enim eos. Cupiditate maiores nam fuga
        labore quod assumenda inventore, voluptatem aliquid quibusdam quae. Sed
        animi, sint, quas pariatur iure impedit a deserunt unde ducimus, tenetur
        dolore officia veniam odit quo similique quod quis ex mollitia labore
        assumenda cum? Saepe minima doloremque facilis accusamus. Unde dolore ad
        ipsam fugit similique inventore autem debitis officiis perspiciatis.
        Neque laboriosam quasi ratione commodi id totam sapiente modi tempora,
        et vero molestias, enim quod, iusto quas aliquid? Dignissimos! Quasi ex
        quisquam nihil adipisci, temporibus hic commodi expedita rem facere
        velit? Optio illum suscipit qui itaque atque unde, cupiditate rerum
        distinctio officiis eveniet neque facere consectetur modi, voluptates
        mollitia! At hic dolor quis error officiis rerum omnis dolorum nihil
        obcaecati. Non, illo perferendis, voluptatem similique inventore
        nesciunt cupiditate libero molestias eveniet tenetur explicabo atque
        velit nulla iusto sit cumque.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>
</div>
