<div class="stepper-header-wrapper">
  <ng-container *ngIf="stepsCount && cdkStepper">
    <ng-container *ngFor="let item of stepsCount; let idx = index">
      <span
        class="bg-danger ml-2 mr-2 icon-item-st"
        [ngClass]="{ 'active-item': stepper.selectedIndex === idx }"
        (click)="activeStep(idx)"
        >{{ idx + 1 }}
      </span>
      <ng-container *ngIf="idx < lineCount">
        <span
          class="myitem"
          [ngClass]="{ 'active-item2': stepper.selectedIndex === idx + 1 }"
        ></span>
      </ng-container> </ng-container
  ></ng-container>
</div>

<div class="stepper-content-wrapper">
  <app-customstepper #cdkStepper>
    <cdk-step>
      <div class="animated zoomIn slow">
        <p class="display-2">step1</p>
        <ng-container *ngTemplateOutlet="step1"></ng-container>
      </div>
    </cdk-step>
    <cdk-step>
      <div class="animated fadeIn slow">
        <p class="display-2">step two</p>
        <ng-container *ngTemplateOutlet="step2"></ng-container>
      </div>
    </cdk-step>
    <cdk-step>
      <p class="display-2">step three</p>
    </cdk-step>
    <cdk-step>
      <p class="display-2">step four</p>
    </cdk-step>
  </app-customstepper>
</div>

<div class="stepper-footer-wrapper">
  <button mat-fab (click)="cdkStepper.previous()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-fab (click)="cdkStepper.next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<ng-template #step1>
  <button mat-button (click)="stepper.next()">button 1</button>
</ng-template>
<ng-template #step2>
  <button mat-button (click)="stepper.previous()">prev</button>
  <button mat-button (click)="stepper.next()">Next</button>
</ng-template>
<ng-template #step3>
  <button mat-button (click)="stepper.previous()">prev</button>
  <button mat-button (click)="stepper.next()">Next</button></ng-template
>
<ng-template #step4
  ><button mat-button (click)="stepper.previous()">prev</button>
</ng-template>
