<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <img [src]="imgFile" alt="" class="image-cover" />
    <p class="lead">title is here</p>
  </mat-card-header>
  <mat-card-content>
    <swiper-slider
      [ImageList]="images"
      [sliderId]="'slider122'"
      [nextArrow]="'next11'"
      [prevArrow]="'prev11'"
      [sliderLoop]="false"
    ></swiper-slider>
  </mat-card-content>
  <mat-card-actions>
   <button mat-fab><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
