@import "../../../assets/scss/mixin/mixin_dir";
//////////////////////////////////////

.grid-item-container {
  @include containerBox(100%, auto);
  .grid-wrapper {
    padding: 5px;
    @include gridResponsive(250px, 100px, 5px, 5px);

    .item1 {
      background-color: darkcyan;
      @include gridRowSize(3);
      @include mq('phone'){
        @include gridRowSize(1);
      }
      @include mq('phone-wide'){
        @include gridRowSize(1);
      }
      @include mq('tablet'){
        @include gridRowSize(2);
      }
    }
    .item2 {
      background-color: firebrick;
    }
    .item3 {
      background-color: chocolate;
    }
    .item4 {
      background-color: coral;
    }
  }
}
