<div class="grid-item-container">
  <div class="grid-wrapper">
    <div class="item1">
      item 1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic,
      inventore? Laborum nostrum, non molestias repellat tempore voluptatibus,
      natus accusantium a eaque doloribus, maiores corrupti laudantium nulla
      nemo vitae quaerat ducimus.
    </div>
    <div class="item2">
      item 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item3">
      item 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item4">
      item 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item3">
      item 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item4">
      item 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item3">
      item 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
    <div class="item4">
      item 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
      repellendus ex hic veritatis illo? Nobis inventore exercitationem quod
      voluptatibus eveniet obcaecati aut odio, alias, in minus consequatur
      commodi. Commodi, eveniet!
    </div>
  </div>
</div>
