.mybox {
  width: 300px;
  height: 200px;
  padding: 5px;
  background-color: lightsalmon;
}

.material-table-wrapper {
  .mat-table {
    td.mat-cell {
      text-align: center;
      background-color: salmon !important;
    }
  }
}
