.grid-items {
  // padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: minmax(100px, auto);
  grid-auto-flow: row;
  grid-auto-rows: minmax(100px, auto);
  gap: 5px 5px;
}

#postsTable {
  .mat-table {
    width: 100%;
  }

  .mat-header-row {
    background-color: bisque !important;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
  }

  .mat-sort-header-container{
    font-size: 1.4rem;
    color: red;
    font-weight: bold;
    justify-content: center ;
  }

  .mat-cell{
    color: orange;
    background-color: rebeccapurple;
    font-size: 1rem;
  }
}
