<p class="lead">material test component</p>

<div class="stepper-content-wrapper">
  <app-customstepper [userIcons]="userIcon" #cdkStepper>
    <cdk-step optional="true" label="welcome zoz">
      <input type="text" name="a" value="a" />
    </cdk-step>
    <cdk-step optional="false">
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
     <ng-container *ngTemplateOutlet="step3"></ng-container>

    </cdk-step>
  </app-customstepper>
</div>
<br />
<div>
  <button mat-button (click)="prevItem()">prev</button>
  <button mat-button (click)="nextItem()">next</button>
</div>

<ng-template #step3>
  <mat-card>
    <mat-card-header>
      <mat-card-title>user data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="label" value="value" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="label" value="value" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="label" value="value" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="label" value="value" />
      </mat-form-field>
      <br />
      <mat-select placeholder="Company" name="item">
        <mat-option>
          <p>google</p>
        </mat-option>
        <mat-option>
          <p>yahoo</p>
        </mat-option>
        <mat-option>
          <p>facebook</p>
        </mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions>
  </mat-card>
</ng-template>


