<!-- <div class="table-wrapper">
  <app-table-custom
    #mytable
    [tableDataSource]="users"
    [tableColumns]="tableColumns"
    [tableOptions]="tableOptions"
  ></app-table-custom>
</div> -->
<!-- <p class="lead">material test</p> -->

<mat-tab-group>
  <mat-tab label="TabHeader1">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, labore
    officia! Eius delectus aspernatur, sequi asperiores praesentium adipisci id
    accusamus dolore minus itaque nulla optio dolor non sed inventore alias!
  </mat-tab>
  <mat-tab label="TabTabHeader2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quibusdam,
    eum ducimus id dolores accusamus voluptate omnis repellat illo? Alias atque
    rerum id corrupti fugit totam libero dolores sed rem.
  </mat-tab>
</mat-tab-group>
