.mybox {
  width: 300px;
  height: 200px;
  padding: 5px;
  background-color: lightsalmon;
}

.material-table-wrapper {
  .mat-table {
    td.mat-cell {
      text-align: center;
      background-color: salmon !important;
    }
  }
}

.active-tab-style {
  background-color: indigo;
  color: indianred;
}

.btn-grid-group {
  width: 100%;
  padding: 5px;
  background-color: coral;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: minmax(50px, auto);
  gap: 5px 5px;
  .btn-green{
    background-color: cornflowerblue;
    color: white;
    outline: none !important;
    font-size: 1rem;
  }
}
