<app-search></app-search>

<!-- 
<quill-editor
  [(ngModel)]="editorContent"
  [options]="editorOptions"
  (ready)="onEditorCreated($event)"
  (change)="onContentChanged($event)"
></quill-editor>

<button type="button" class="btn btn-primary" (click)="printQuill()">
  save quill
</button> -->

<div class="mybox">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat et error
  expedita? Aspernatur consectetur adipisci minus voluptatibus ipsam deserunt,
  error sapiente, laudantium iure eos fugiat accusantium? Accusantium ipsa eos
  cumque.
</div>
