.full-viewheight {
  height: 100vh;
}

.font-cairo {
  font-family: "cairo";
}

.font-cairo-blod {
  font-family: "cairo-bold";
}

* {
  scroll-behavior: smooth;
}

.mynested-route {
  width: 100%;
}
