/* all screen sizes with names 
-- usage of the mixin
-----------------------
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/*
Using a mixin
Say we want to use a mixin to reduce the font size of our header text on mobile devices. We add the mixin as an include, like so:
.header-title {  
   font-size: 2rem;  
 
   @include for-phone-only {    
      font-size: 1rem; 
   }
}
*/

@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: 960px) and (max-width: 1279px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}
@mixin big-desktop {
  @media (min-width: 1920px) and (max-width: 5000px) {
    @content;
  }
}

/* for media query with variables
allowed sizes: [small, med-small, med, large, custom]
*/
$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;

@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
  @if $size == "small" {
    @media screen and (#{$type}-width: $breakpoint-small) {
      @content;
    }
  } @else if $size == "med-small" {
    @media screen and (#{$type}-width: $breakpoint-med-small) {
      @content;
    }
  } @else if $size == "med" {
    @media screen and (#{$type}-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "large" {
    @media screen and (#{$type}-width: $breakpoint-med) {
      @content;
    }
  } @else if $size == "custom" {
    @media screen and (#{$type}-width: $pixels + px) {
      @content;
    }
  } @else {
    @content;
  }
}

/* this mixin is used to handle the item based on screen size

@include breakpoint(large) {
  div {
    font-size: 2rem;
    line-height: 1.4;
  }
}
*/
@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1366px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
}
