/// this mixin used to create grid row with default 12 column
@mixin gridFixed(
  $columnCount: 12,
  $initRowSize: 20px,
  $rowGap: 5px,
  $columnGap: 5px
) {
  display: grid;
  grid-template-columns: repeat($columnCount, 1fr);
  grid-template-rows: minmax($initRowSize, auto);
  gap: $rowGap $columnGap;
}

/*
when using this mixin it's allow you to create responsive grid container 
and i will work with all screen you just need to initial it for your needs
*/

@mixin gridResponsive(
  $initColumnSize: 100px,
  $initRowSize: 100px,
  $rowGap: 5px,
  $columnGap: 5px
) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($initColumnSize, 1fr));
  grid-template-rows: minmax($initRowSize, auto);
  grid-auto-rows: minmax($initRowSize, auto);
  gap: $rowGap $columnGap;
}

@mixin gridColumnSize($columnCount: 1) {
  grid-column: span $columnCount;
}

@mixin gridRowSize($rowCount: 1) {
  grid-row: span $rowCount;
}

@mixin gapSize($rowGap: 0px, $columnGap: 0px) {
  gap: $rowGap $columnGap;
}
