<div class="material-table-wrapper">
  <!-- table data source with configuration -->
  <div
    class="material-table-header-wrapper"
    *ngIf="tableOptions.showExportButtons"
  >
    <button
      mat-raised-button
      class="btn-export-style"
      (click)="
        exporterElement.exportTable('json', {
          fileName: tableOptions.exportFileName
        })
      "
    >
      To JSON
    </button>
    <button
      mat-raised-button
      class="btn-export-style"
      (click)="
        exporterElement.exportTable('xlsx', {
          fileName: tableOptions.exportFileName
        })
      "
    >
      To Excel
    </button>
    <button
      mat-raised-button
      class="btn-export-style"
      (click)="
        exporterElement.exportTable('csv', {
          fileName: tableOptions.exportFileName
        })
      "
    >
      To CSV
    </button>
  </div>

  <table
    mat-table
    matSort
    matSortDirection="asc"
    matSortDisableClear
    matTableExporter
    #exporter="matTableExporter"
    (matSortChange)="sortData($event)"
    #table
    [dataSource]="dataSource"
    *ngIf="tableDataSource.length > 0"
  >
    <ng-container *ngFor="let col of columns; let i = index">
      <ng-container [matColumnDef]="col">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="{{ col }}"
          [arrowPosition]="'before'"
        >
          {{ col }}
        </th>
        <ng-container *ngIf="col !== 'actions'">
          <td mat-cell *matCellDef="let row">
            {{ row[col] }}
          </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <!-- if table have action column option -->
        <ng-container *ngIf="col === 'actions'">
          <td mat-cell *matCellDef="let row">
            <ng-container
              *ngTemplateOutlet="
                actionButtonsTemplate;
                context: { btnActions: tableOptions.actionsButtonsMethods }
              "
            ></ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            {{ 100000 | currency }}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- header columns names must be an array -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <!-- row data must be an array of column to allow table to map column name with data source -->
    <tr
      mat-row
      *matRowDef="let row; columns: columns"
      (click)="onRowClick(row)"
    ></tr>
    <!-- show footer row for totals or any thing -->
    <ng-container *ngIf="tableOptions.showFooterRow">
      <tr mat-footer-row *matFooterRowDef="columns"></tr>
    </ng-container>
  </table>

  <!-- if datasource have no data show this message-->
  <div class="no-datasource-text-wrapper" *ngIf="dataSource.data.length === 0">
    <mat-spinner></mat-spinner>
    <p>{{ tableOptions.notDataMessage }}</p>
  </div>

  <!-- table pagination original item -->
  <div
    class="material-pagination-wrapper"
    [hidden]="!tableOptions.showPagination || tableDataSource.length === 0"
  >
    <mat-paginator
      #paginator
      [ngStyle]="{ display: 'none' }"
      showFirstLastButtons
      [pageSize]="tableOptions.pageSize ? tableOptions.pageSize : 5"
      [pageSizeOptions]="tableOptions.paginationPageSize"
    ></mat-paginator>
    <!----------------------------------------------->

    <div class="custom-pagination">
      <div class="pagination-btn-items">
        <button
          type="button"
          class="pagination-btn"
          (click)="paginator.firstPage()"
          [disabled]="!paginator.hasPreviousPage()"
        >
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="pagination-btn"
          (click)="paginator.previousPage()"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
      </div>
      <div class="pagination-text-items">
        <p>Page</p>
        <div class="page-spliter">
          <span class="page-index">{{ paginator.pageIndex + 1 }}</span
          ><span>/</span><span>{{ itemsCount / tableOptions.pageSize }}</span>
        </div>
      </div>
      <div class="pagination-btn-items">
        <button
          type="button"
          class="pagination-btn"
          (click)="paginator.nextPage()"
          [disabled]="!paginator.hasNextPage()"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="pagination-btn"
          (click)="paginator.lastPage()"
          [disabled]="!paginator.hasNextPage()"
        >
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- table action buttons  -->
<ng-template #actionButtonsTemplate let-btnActions="btnActions">
  <div class="action-buttons-wrapper">
    <button
      mat-button
      class="btn-action-item"
      (click)="btnActions.add.actionButtonMethod()"
    >
      {{ btnActions.add.actionButtonName }}
    </button>
    <button
      mat-button
      class="btn-action-item"
      (click)="btnActions.edit.actionButtonMethod()"
    >
      {{ btnActions.edit.actionButtonName }}
    </button>
    <button
      mat-button
      class="btn-action-item"
      (click)="btnActions.remove.actionButtonMethod()"
    >
      {{ btnActions.remove.actionButtonName }}
    </button>
  </div>
</ng-template>
