<div class="tab-group-wrapper">
  <mat-tab-group headerPosition="below">
    <mat-tab label="TabHeader1">
      <div class="tab-content-wrapper">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
          molestias aliquid repellendus blanditiis beatae doloribus voluptate
          repellat quae, doloremque ea, expedita cumque maxime? Pariatur adipisci
          magni, expedita exercitationem nobis necessitatibus! Aspernatur, ipsam?
          Error quibusdam deleniti adipisci id inventore, labore dolor voluptate
          aspernatur quo maxime! Deleniti fuga corrupti iusto ratione excepturi
          cum eaque enim accusantium, autem, debitis possimus sed dolores minus?
          Fugiat in aspernatur provident accusantium modi quidem exercitationem
          sed, ut et id voluptatibus excepturi fugit aut tenetur. Animi, quas
          minima ipsa hic dignissimos debitis? Impedit earum ex debitis quo
          aspernatur. Numquam nostrum labore libero ratione natus neque? Pariatur
          aut excepturi a sit distinctio maxime deserunt accusamus nemo, eligendi
          ea totam veritatis vero, sunt et! Quasi excepturi necessitatibus
          mollitia eum ipsa! Quas, veniam sapiente quam quos odio, laboriosam
          labore exercitationem aperiam ipsa placeat animi distinctio, dolores nam
          laudantium culpa impedit neque iste ratione amet dignissimos ab nemo
          voluptate! Optio, fuga voluptatibus. Nostrum cum accusantium nesciunt
          velit! Impedit placeat iste eaque ab fugiat aspernatur culpa, corporis,
          sit id modi commodi, tenetur repellendus ipsa saepe architecto nihil
          reiciendis animi nemo numquam voluptatum officia? Quibusdam recusandae
          error a et debitis temporibus assumenda explicabo dicta harum cum
          sapiente quia, placeat maiores enim ut, cupiditate molestias dignissimos
          quod ad laboriosam veniam tempora ipsam ullam eaque. Pariatur? Doloribus
          cum, dolorem mollitia totam commodi assumenda voluptate itaque ratione
          cupiditate incidunt pariatur. Alias a eaque deserunt, fugit tempore ipsa
          pariatur quisquam consequatur reiciendis culpa? Eaque, reiciendis. Eos,
          odit culpa. Perspiciatis quia hic consectetur, cumque voluptatem
          voluptates odio qui impedit sint fuga ipsa provident accusamus iste
          possimus id iure rerum dolorem accusantium est quas. Quisquam
          repellendus voluptates a laudantium delectus!
        </p>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        <span class="mr-1 ml-1">First</span>
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
    <mat-tab label="TabTabHeader2"></mat-tab>
  </mat-tab-group>
  
</div>