<mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
      quaerat laudantium minus sed, eius aut rem beatae non. Quae nulla
      repudiandae cum aspernatur deserunt fugit nisi corporis odio iure quo?
      Quos, nihil tempora! Ab exercitationem alias quibusdam beatae! Animi, quae
      eius ea ut, impedit corporis et cupiditate, optio dolorem blanditiis
      nulla? Tenetur quo incidunt voluptatibus. Saepe adipisci earum quae
      quibusdam. Cupiditate eius earum est asperiores soluta nobis ratione animi
      architecto? Ratione natus, fugiat, voluptatem aspernatur omnis soluta id
      at suscipit delectus commodi non repellendus repellat? Harum quos
      consectetur dignissimos ea. Repudiandae sed quod quis architecto natus
      libero sapiente itaque exercitationem aspernatur debitis nemo porro
      reiciendis assumenda, fuga fugiat excepturi doloribus! Maiores iusto fuga
      ipsum cumque labore id vel placeat aperiam. Ipsa aliquid similique
      adipisci ex nam distinctio recusandae delectus. Minus culpa non
      accusantium harum nulla aliquam molestiae iste, sint omnis, earum id,
      rerum quos laboriosam? Quo eveniet eum vitae molestiae. Natus sed
      praesentium totam minus ex dolorem consequuntur, repudiandae fuga
      consectetur placeat quam laboriosam. Quasi sint sed, neque non, itaque
      odit voluptate nostrum maxime debitis amet repudiandae aliquid. Minima,
      rerum. Eaque, voluptates! Impedit molestias dolorum atque libero quis
      similique qui natus, iusto vel illo repellendus hic animi assumenda
      explicabo amet neque ut iure. Dignissimos, odit? Maiores blanditiis labore
      asperiores adipisci! Cupiditate nostrum sed nam saepe numquam impedit
      minus vel nemo laudantium deserunt aliquam facilis dolorem enim suscipit
      totam excepturi, facere debitis consequatur quaerat. Beatae molestias
      laudantium mollitia, fuga pariatur minima.
    </p>
  </div>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
      quaerat laudantium minus sed, eius aut rem beatae non. Quae nulla
      repudiandae cum aspernatur deserunt fugit nisi corporis odio iure quo?
      Quos, nihil tempora! Ab exercitationem alias quibusdam beatae! Animi, quae
      eius ea ut, impedit corporis et cupiditate, optio dolorem blanditiis
      nulla? Tenetur quo incidunt voluptatibus. Saepe adipisci earum quae
      quibusdam. Cupiditate eius earum est asperiores soluta nobis ratione animi
      architecto? Ratione natus, fugiat, voluptatem aspernatur omnis soluta id
      at suscipit delectus commodi non repellendus repellat? Harum quos
      consectetur dignissimos ea. Repudiandae sed quod quis architecto natus
      libero sapiente itaque exercitationem aspernatur debitis nemo porro
      reiciendis assumenda, fuga fugiat excepturi doloribus! Maiores iusto fuga
      ipsum cumque labore id vel placeat aperiam. Ipsa aliquid similique
      adipisci ex nam distinctio recusandae delectus. Minus culpa non
      accusantium harum nulla aliquam molestiae iste, sint omnis, earum id,
      rerum quos laboriosam? Quo eveniet eum vitae molestiae. Natus sed
      praesentium totam minus ex dolorem consequuntur, repudiandae fuga
      consectetur placeat quam laboriosam. Quasi sint sed, neque non, itaque
      odit voluptate nostrum maxime debitis amet repudiandae aliquid. Minima,
      rerum. Eaque, voluptates! Impedit molestias dolorum atque libero quis
      similique qui natus, iusto vel illo repellendus hic animi assumenda
      explicabo amet neque ut iure. Dignissimos, odit? Maiores blanditiis labore
      asperiores adipisci! Cupiditate nostrum sed nam saepe numquam impedit
      minus vel nemo laudantium deserunt aliquam facilis dolorem enim suscipit
      totam excepturi, facere debitis consequatur quaerat. Beatae molestias
      laudantium mollitia, fuga pariatur minima.
    </p>
  </div>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
      quaerat laudantium minus sed, eius aut rem beatae non. Quae nulla
      repudiandae cum aspernatur deserunt fugit nisi corporis odio iure quo?
      Quos, nihil tempora! Ab exercitationem alias quibusdam beatae! Animi, quae
      eius ea ut, impedit corporis et cupiditate, optio dolorem blanditiis
      nulla? Tenetur quo incidunt voluptatibus. Saepe adipisci earum quae
      quibusdam. Cupiditate eius earum est asperiores soluta nobis ratione animi
      architecto? Ratione natus, fugiat, voluptatem aspernatur omnis soluta id
      at suscipit delectus commodi non repellendus repellat? Harum quos
      consectetur dignissimos ea. Repudiandae sed quod quis architecto natus
      libero sapiente itaque exercitationem aspernatur debitis nemo porro
      reiciendis assumenda, fuga fugiat excepturi doloribus! Maiores iusto fuga
      ipsum cumque labore id vel placeat aperiam. Ipsa aliquid similique
      adipisci ex nam distinctio recusandae delectus. Minus culpa non
      accusantium harum nulla aliquam molestiae iste, sint omnis, earum id,
      rerum quos laboriosam? Quo eveniet eum vitae molestiae. Natus sed
      praesentium totam minus ex dolorem consequuntur, repudiandae fuga
      consectetur placeat quam laboriosam. Quasi sint sed, neque non, itaque
      odit voluptate nostrum maxime debitis amet repudiandae aliquid. Minima,
      rerum. Eaque, voluptates! Impedit molestias dolorum atque libero quis
      similique qui natus, iusto vel illo repellendus hic animi assumenda
      explicabo amet neque ut iure. Dignissimos, odit? Maiores blanditiis labore
      asperiores adipisci! Cupiditate nostrum sed nam saepe numquam impedit
      minus vel nemo laudantium deserunt aliquam facilis dolorem enim suscipit
      totam excepturi, facere debitis consequatur quaerat. Beatae molestias
      laudantium mollitia, fuga pariatur minima.
    </p>
  </div>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>
