<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Welcome to about more</h4>
        <p class="card-text">this is my about more component thanks to visit us</p>
        <br>
        <h5 class="h5 text-center text-warning">User ID: {{userId}} User Name: {{userName}}</h5>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="backToHome()">Back Home</button>
    {{'hello' | translate}}
  </div>
</div>

<p class="lead">{{'hello' | translate}}</p>